.form-group{
  display: inline;
}
.header{
  text-align: center;
  color:#f44336;
}
.container{
  align-items: center;
}
.copyright{
  float: right;
}
.gaming{
  color:#f44336;
}
body{
  background-color: wheat;
}
